<nav class="navbar navbar-expand-sm navbar-dark bg-dark px-3">
  <button class="navbar-toggler mx-auto" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse text-right" id="navbarText">
    <ul class="navbar-nav mx-auto ">
      <li class="nav-item mx-2" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['A']">A</a>
      </li>
      <li class="nav-item mx-2" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['B']">B</a>
      </li>
      <li class="nav-item mx-2" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['#']">Link</a>
      </li>
    </ul>
  </div>
</nav>
